<div [formGroup]="docenteForm">

  <div class="modal-header">
    <div>
      <h5 class="titulo-modal-registro">Registrar Docente</h5>
      <p class="subtitulo-registro">Ingrese la información del docente para el registro.</p>
    </div>
    <button (click)="cancelar()" class="btn-close">
      ✕
    </button>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label class="form-label">
        Nombre Completo
      </label>
      <input type="text" 
             formControlName="nombre_completo"
             placeholder="Ej: Alberto García Martínez"
             class="form-control" />
      <div class="error-message" *ngIf="nombre_completo?.touched && nombre_completo?.hasError('required')">
        El nombre completo es requerido
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">
        Tipo de Contrato
      </label>
      <select formControlName="tipo_contrato" class="form-select">
        <option value="" disabled selected>Seleccione modalidad...</option>
        <option value="full-time">Full-time</option>
        <option value="part-time">Part-time</option>
      </select>
      <div class="error-message" *ngIf="tipo_contrato?.touched && tipo_contrato?.hasError('required')">
        El tipo de contrato es requerido
      </div>
    </div>


<!-- disponibilidad horaria -->

<div class="form-group" *ngIf="docenteForm.get('tipo_contrato')?.value === 'part-time'">
  <label class="form-label">Disponibilidad Horaria</label>

  <div class="table-responsive grid-horaria-container">
    <table class="table table-dark table-bordered text-center align-middle grid-tabla">
      <thead>
        <tr>
          <th scope="col" class="th-modulo">Módulos / Día</th>
          <th scope="col" *ngFor="let dia of diasSemana">{{ dia.abreviacion }}</th>
        </tr>
      </thead>
      
      <tbody formArrayName="matrizDisponibilidad">
        <tr *ngFor="let mod of modulosHorarios; let j = index">
          
          <td class="td-modulo-info" [title]="mod.rango">
            <span class="grid-mod-num" style="margin-right: 10px;">{{ mod.id }})</span>
            <small class="grid-mod-hora d-inline-block">{{ mod.rango }}</small>
          </td>

          <td *ngFor="let dia of diasSemana; let i = index" [formGroupName]="i">
            <label class="celda-interactiva">
              <input type="checkbox" [formControlName]="j" class="grid-checkbox">
              <div class="celda-diseno-box"></div>
            </label>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- termina disponibilida-->

  <div class="modal-footer">
    <button (click)="cancelar()" class="btn-secondary">
      Cancelar
    </button>
    <button (click)="guardar()" class="btn-primary">
      Registrar
    </button>
  </div>

</div>