
.titulo-modal-registro {
  font-size: 20px;
  margin: 0 0 4px;
  font-family: 'Segoe UI', sans-serif;
}

.subtitulo-registro {
  font-size: 16px;
  color: #000;
  font-family: 'Segoe UI', sans-serif;
}


.modal-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 650px;
  min-width: 420px;
  border-radius: 12px;
  overflow: hidden; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}


.modal-body {
  flex: 1;
  min-height: 0;          
  overflow-y: auto;       
  overflow-x: hidden;

  padding: 16px 24px;
  padding-right: 20px;
}

/* HEADER FIJO */
.modal-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 24px 8px;
}

/* FOOTER FIJO */
.modal-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 12px 24px 20px;
  border-top: 1px solid #f0f0f0;
  
}


.grid-horaria-container {
  max-height: 200px;      
  overflow-y: auto;       
  overflow-x: hidden;
}

.grid-horaria-container thead th {
  position: sticky;
  top: 0;
  background: #fcfcfc;   
  z-index: 2;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #353333;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.form-control, 
.form-select {
  width: 100%;
  padding: 10px 14px;
  border: 1.5px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f8f9fa;
  box-sizing: border-box;
  outline: none;
}

.form-select {
  appearance: none;
  cursor: pointer;
}

.form-control:focus, 
.form-select:focus {
  border-color: #0d6efd;
  background-color: #fff;
  box-shadow: none;
}

.error-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

/* =========================
   BOTONES
   ========================= */
.btn-close {
  background: none;
  border: none;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  line-height: 1;
  padding: 0;
}

.btn-secondary, 
.btn-primary {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-secondary {
  padding: 9px 22px;
  background: #9c9c9c;
  color: #ffffff;
}

.btn-primary {
  padding: 9px 24px;
  background-color: #1a3c8f;
  border-color: #1a3c8f;
  color: white;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #152f6e;
  border-color: #152f6e;
}