<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<h1 class="titulo-modulo">Gestión de Docentes</h1>

<div class="header-container">
  <p class="parrafo-modulo">
    Panel de administración para la gestión integral del cuerpo docente. Permite registrar nuevos académicos,
     actualizar antecedentes, visualizar y eliminar registros.
  </p>

  <div class="header-actions">
    <a href="docs/base_docentes.xlsx" download="base_docentes.xlsx" 
     class="btn btn-secondary">
    <i class="pi pi-download"></i> Descargar Plantilla
    </a>
    <button class="btn btn-outline">
      <i class="pi pi-file-arrow-up"></i> Importar Excel
    </button>
    <button class="btn btn-primary" >
      <i class="pi pi-graduation-cap"></i>Registrar +
    </button>
  </div>
</div>

<!-- Cartas para metricas-->  

<div class="metrics-container">
  <div class="card">
    <span class="label">Total Docentes</span>
    <span class="value blue">12</span>
  </div>

  <div class="card">
    <span class="label">Docentes Full-time</span>
    <span class="value green">7</span>
  </div>

  <div class="card">
    <span class="label">Docentes Part-time</span>
    <span class="value red">5</span>
  </div>
</div>


<!-- <app-form-docente [(visible)]="estadoModal"></app-form-docente> -->

<div class="filters">
  <p class="texto-filtro-nombre">Filtrar por nombre: </p>
  <input class="filtro-nombre" type="text" [(ngModel)]="searchName" (input)="onFilter()" placeholder="Buscar docente por nombre..." >
  <p class="texto-filtro-contrato">Filtrar por contrato: </p>
  <select class="filtro-contrato" [(ngModel)]="filterType" (change)="onFilter()">
    <option value="">Todos los contratos</option>
    <option value="Full-time">Full-time</option>
    <option value="Part-time">Part-time</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>ID Docente</th>
      <th>Nombre del docente</th>
      <th>Tipo de contrato</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of paginados">
      <td class="id-cell">{{ d.id }}</td>
      <td>{{ d.nombre }}</td>
      <td>
        <span [class]="d.contrato === 'Full-time' ? 'badge badge-full' : 'badge badge-part'">
          {{ d.contrato }}
        </span>
      </td>
      <td>
        <button class="action-btn" (click)="disponibilidad(d)"><i class="pi pi-calendar"></i></button>
        <button class="action-btn" (click)="editar(d)"><i class="pi pi-pencil"></i></button>
        <button class="action-btn del" (click)="eliminar(d)"><i class="pi pi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button class="page-btn" (click)="goTo(currentPage - 1)" [disabled]="currentPage === 1">‹</button>
  <button *ngFor="let p of totalPagesArray()" class="page-btn"
          (click)="goTo(p)"
          [class.active]="p === currentPage">{{ p }}</button>
  <button class="page-btn" (click)="goTo(currentPage + 1)" [disabled]="currentPage === totalPages">›</button>
</div>

