<div style="display: flex;">
  <app-sidebar></app-sidebar>

  <div style="flex-grow: 1; margin-left: 280px; display: flex; flex-direction: column; position: relative; min-height: 100vh;">
    <app-navbar></app-navbar>

    <div style="flex-grow: 1; padding: 20px 20px 20px 20px;">
      <router-outlet></router-outlet>
    </div>

    <div class="simple-footer">
      <p style="margin: 0; font-weight: 600; color: #64748b; font-size: 13px;">
        Sistema de Gestión Horaria - Ingeniería Civil en Informática UCM
      </p>
    
      <p style="margin: 5px 0 0 0; color: #64748b; font-size: 12px;">
        Desarrollado por Nicolás Méndez R - Jaime Matamala P | Ing. en Ejecución en Computación e Informática - IECI | UCM
      </p>
    </div>

  </div>
</div>