<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<h1 class="titulo-modulo">Gestión de Ramos</h1>

<div class="header-container">
  <p class="parrafo-modulo">
    Panel de administración para la gestión integral de los ramos. Permite registrar nuevos ramos,
     actualizar información, y eliminar registros.
  </p>

  <div class="header-actions">
    <a href="docs/base_ramos.xlsx" download="base_ramos.xlsx" class="btn btn-secondary">
      <i class="pi pi-download"></i> Descargar Plantilla
    </a>

    <button class="btn btn-outline" (click)="mostrarModalImportar=true">
      <i class="pi pi-file-arrow-up"></i> Importar Excel
    </button>

    <button class="btn btn-primary" (click)="abrirFormulario()">
      <i class="pi pi-book"></i> Registrar +
    </button>
  </div>
</div>

<div class="filters">
  <p class="texto-filtro-nombre">Filtrar por nombre: </p>
  <input class="filtro-nombre" type="text" [(ngModel)]="searchName" (input)="onFilter()" placeholder="Buscar ramo por nombre..." >
  <p class="texto-filtro-ramo">Filtrar por nivel ramo: </p>
  <select class="filtro-ramo" [(ngModel)]="filterType" (change)="onFilter()">
    <option value="">Todos los niveles</option>
    <option value="I">Nivel I</option>
    <option value="II">Nivel II</option>
    <option value="III">Nivel III</option>
    <option value="IV">Nivel VI</option>
    <option value="V">Nivel V</option>    
  </select>
</div>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Código Ramo</th>
      <th>Nombre Ramo</th>
      <th>Nivel</th>
      <th>Cantidad Secciones</th>
      <th>Cupos Sección</th>
      <th>Horas Cátedra</th>
      <th>Horas Laboratorio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of paginados">
      <td class="id-cell">{{ r.id }}</td>
      <td>{{ r.nombre }}</td>
      <td>{{ r.nivel }}</td>
      <td>{{ r.cantidad_secciones }}</td>
      <td>{{ r.cupos_por_seccion }}</td>
      <td>{{ r.horas_catedra }}</td>
      <td>{{ r.horas_laboratorio }}</td>

      <td>
        <button class="action-btn editar" (click)="abrirFormulario(r)"><i class="pi pi-pencil" title="Editar"></i></button>
        <button class="action-btn del" (click)="eliminar(r)"><i class="pi pi-trash" title="Eliminar"></i></button>
      </td>
    </tr>
    <tr *ngIf="filtrados.length === 0">
      <td colspan="8" style="text-align: center; color: #888; padding: 20px;">
        No se encontraron ramos
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="pagination">
  <button class="page-btn" (click)="goTo(currentPage - 1)" [disabled]="currentPage === 1">‹</button>
  <button *ngFor="let p of totalPagesArray()" class="page-btn"
          (click)="goTo(p)"
          [class.active]="p === currentPage">{{ p }}</button>
  <button class="page-btn" (click)="goTo(currentPage + 1)" [disabled]="currentPage === totalPages">›</button>
</div>

<!--Para mostrar modal importar-->
<div *ngIf="mostrarModalImportar"
  style="position:fixed; top:0; left:0; width:100%; height:100%;
    background:rgba(0,0,0,0.45); display:flex; align-items:center;
    justify-content:center; z-index:1050;">

  <div style="background:#fff; border-radius:12px; width:440px; padding:24px;">

    <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:16px; font-family:'Segoe UI',sans-serif;">
      <div style="display:flex; align-items:center; gap:8px;">
        <i class="bi bi-file-earmark-arrow-up" style="font-size:20px; color:#1a3c8f;"></i>
        <h5 style="margin:0; font-weight:600; font-size:20px; color: #333;">Importar Ramos</h5>
      </div>
      <button (click)="mostrarModalImportar=false"
        style="background:none; border:none; font-size:20px; color:#aaa; cursor:pointer;">✕</button>
    </div>

    <p style="font-family: 'Segoe UI', sans-serif; font-size: 14px; color: #666; margin: 0 0 16px;text-align: justify;">
      Cargue su archivo de ramos de acuerdo a la <strong>plantilla proporcionada</strong>. Asegúrese de que el formato sea correcto para evitar errores en la importación.
    </p>

    <div style="border:2px dashed #ccc; border-radius:10px; padding:32px;
      text-align:center; background:#fafafa; margin-bottom:16px;">
      <i class="pi pi-upload" style="font-size:32px; color:#aaa; display:block; margin-bottom:10px;"></i>
      <p style="font-size:13px; color:#666; margin: 0 0 8px 0; word-break: break-all;">
        {{ archivoSeleccionado ? archivoSeleccionado.name : 'Seleccione un archivo de su directorio' }}
      </p>
      <p style="font-size:12px; color:#999; margin: 0 0 12px 0;">
        Solo soporta archivos .xlsx, .xls (Máx: 10MB)
      </p>
      <input #fileInput type="file" accept=".xlsx,.xls,.ods"
        style="display:none;" (change)="onArchivoSeleccionado($event)" />
      <button (click)="fileInput.click()"
        style="padding:8px 18px; border:1.5px solid #1a3c8f; background:white;
          color:#1a3c8f; border-radius:8px; font-size:13px; cursor:pointer; font-weight: 500;">
        Examinar archivos
      </button>
    </div>

    <div style="display:flex; justify-content:flex-end; gap:10px;">
      <button (click)="mostrarModalImportar=false"
        style="padding:9px 20px; border:none; background:#9c9c9c;
          color:white; border-radius:8px; font-size:13px; cursor:pointer;">
        Cancelar
      </button>
      <button (click)="subirRamos()" [disabled]="!archivoSeleccionado"
        style="padding:9px 20px; border:none; background:#1a3c8f; color:white;
          border-radius:8px; font-size:13px; cursor:pointer; font-weight: 500; opacity: id">
        Subir
      </button>
    </div>

  </div>
