<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<h1 class="titulo-modulo">Gestión de Ramos</h1>

<div class="header-container">
  <p class="parrafo-modulo">
    Panel de administración para la gestión integral de los ramos. Permite registrar nuevos ramos,
     actualizar información, y eliminar registros.
  </p>

  <div class="header-actions">
    <a href="docs/base_ramos.xlsx" download="base_ramos.xlsx" class="btn btn-secondary">
      <i class="pi pi-download"></i> Descargar Plantilla
    </a>

    <input type="file" #fileInput (change)="leerExcel($event)" accept=".xlsx, .ods" style="display: none;">

    <button class="btn btn-outline" (click)="fileInput.click()">
      <i class="pi pi-file-arrow-up"></i> Importar Excel
    </button>

    <button class="btn btn-primary" (click)="abrirFormulario()">
      <i class="pi pi-book"></i> Registrar +
    </button>
  </div>
</div>

<div class="filters">
  <p class="texto-filtro-nombre">Filtrar por nombre: </p>
  <input class="filtro-nombre" type="text" [(ngModel)]="searchName" (input)="onFilter()" placeholder="Buscar ramo por nombre..." >
  <p class="texto-filtro-ramo">Filtrar por nivel ramo: </p>
  <select class="filtro-ramo" [(ngModel)]="filterType" (change)="onFilter()">
    <option value="">Todos los niveles</option>
    <option value="I">Nivel I</option>
    <option value="II">Nivel II</option>
    <option value="III">Nivel III</option>
    <option value="IV">Nivel VI</option>
    <option value="V">Nivel V</option>    
  </select>
</div>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Código Ramo</th>
      <th>Nombre Ramo</th>
      <th>Nivel</th>
      <th>Cantidad Secciones</th>
      <th>Cupos Sección</th>
      <th>Horas Cátedra</th>
      <th>Horas Laboratorio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of paginados">
      <td class="id-cell">{{ r.id }}</td>
      <td>{{ r.nombre }}</td>
      <td>{{ r.nivel }}</td>
      <td>{{ r.cantidad_secciones }}</td>
      <td>{{ r.cupos_por_seccion }}</td>
      <td>{{ r.horas_catedra }}</td>
      <td>{{ r.horas_laboratorio }}</td>

      <td>
        <button class="action-btn editar" (click)="abrirFormulario(r)"><i class="pi pi-pencil" title="Editar"></i></button>
        <button class="action-btn del" (click)="eliminar(r)"><i class="pi pi-trash" title="Eliminar"></i></button>
      </td>
    </tr>
    <tr *ngIf="filtrados.length === 0">
      <td colspan="8" style="text-align: center; color: #888; padding: 20px;">
        No se encontraron ramos
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="pagination">
  <button class="page-btn" (click)="goTo(currentPage - 1)" [disabled]="currentPage === 1">‹</button>
  <button *ngFor="let p of totalPagesArray()" class="page-btn"
          (click)="goTo(p)"
          [class.active]="p === currentPage">{{ p }}</button>
  <button class="page-btn" (click)="goTo(currentPage + 1)" [disabled]="currentPage === totalPages">›</button>
</div>
